.cart-container {
    width: 100%;
    min-height: 90vh;
    border-bottom: 1px solid $main-color;
    margin-bottom: 1%;
    position: relative;
}

.cart-home-link {
    padding: 1vw;

    &:hover {
        cursor: pointer;
    }  
}

.empty-cart-message {
    padding-top: 20vh;
    margin-left: 5vw;
    width: 25vw;
    position: relative;
    user-select: none;

    .cart-image {
        width: 100%;
        height: 100%;
        position: relative;
        opacity: 0.5;
        bottom: 0;
    }

    h3 {
        position: absolute;
        left: 5%;
        bottom: 5%;
        background: $main-color;
        font-size: 1.5rem;
        color: $second-color;
        width: 80%;
        padding: 0.5rem;
    }

}



.cart-nav {
    ul {
        padding: 0; 
        display: flex;
        flex-direction: row;
    
        li {
            list-style-type: none;
    
            &:after {
                content: '';
                width: 0%;
                margin: 0 auto;
                height: 5px;
                background-color: lighten($main-color, 40%);
                display: block;
                margin-top: -5px;
                transition: 0.8s;
            }
    
            &:hover:after {
                width: 90%;
            }
        }
    }
}

.cart-list-container {
    width: 90vw;
    margin: 0 auto;
    padding-top: 12vh;
}

.cart-item-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    max-height: 20vh;
    border: 1px solid $main-color;
    margin-bottom: 2%;

    h2 {
        width: 20%;
        max-width: 20%;
        font-size: 1rem;
    }

    img {
        width: 15vw;
        padding: 1%;
    }
}

.cart-button {
    border: none;
    padding: 0.6rem;
    margin: 0;
    font-size: 0.7rem;
    background: $second-color;
    color: $main-color;
    transition: 0.5s;
    border: 1px solid $main-color;

    &:hover {
        cursor: pointer;
        background: $main-color;
        color: $second-color;
    }
}

.checkout-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;

    .checkout-button {
        margin-left: 2rem;
        margin-top: 2rem;
    }
}


@media (min-width: 850px) {
    .cart-list-container {
        width: 80vw;
    }

    .cart-button {
        font-size: 1rem;
        padding: 0.75rem;
    }
    .cart-item-container {

        img {
            width: 6vw;
        }
        
    }
    
}