.contact-section {
    height: auto;
    padding-bottom: 5%;
    width: 100%;
    border-top: 1px solid $main-color;

    p {
        font-size: 1.5rem;
        margin-top: 5%;
    }

    .contact-links {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-bottom: 1px solid $main-color;
        padding-bottom: 2%;

        .contact-list {
            display: flex;
            flex-direction: column;
            margin: 0;
            padding: 0;
            padding-right: 4%;

            li {
                list-style-type: none;
                line-height: 2;
                margin: 0;

                h3 {
                    font-size: 1.5rem;
                    margin: 0;
                }
            }
        }

        .social-media-links {
            flex-direction: column;
            padding: 0;
            margin: 0;
            padding-right:2%;
    
            li {
                list-style-type: none;
                font-size: 1.5rem;
                line-height: 2;
                display: flex;
                margin: 0;
                margin-bottom: 10%;
                
    
                a {
                    margin: 0;
                    padding: 0;
                    transition: 0.3s;
    
                    &:hover {
                        text-decoration: underline;
                        cursor: pointer;
                    }
                }
    
                .socials-image {
                    width: 4rem;
                    margin: 0;
                    margin-right: 10%;
                }
            }
 
        }

        @media (min-width: 650px) {
            .social-media-links {
                li {
                    font-size: 2rem;
                    align-items: flex-end;
                    justify-content: initial;
                    
                }
            }
        }
    }

    @media (min-width: 650px) {
        .contact-links {
            flex-direction: row;
            align-items: center;

            h3 {
                font-size: 2rem;
            }
        }
    }
}

    