.ethos-section {
    height: auto;
    border-bottom: 1px solid $main-color;
    width: 100%;
    margin: 0 auto;
    position: relative;

    h2 {
        padding: 2rem 0;
        margin: 0;
    }

    .ethos-container {
        display: flex;
        align-items: center;
    }

    p {
        font-size: 1.2rem;
        z-index: 1;
        width: 80vw;
        margin-left: 5%;
        margin-top: 4%;

        .ethos-image {
            opacity: 0.6;
            position: initial;
            padding-top: 6%;
            right: 0;
            top: 10vh;
            z-index: -1;
            width: 90%;
            transition: 0.4s;
        }

        span {
            background-color: $main-color;
            color: $second-color;
            padding: 0.25rem;

            &:hover + img {
                opacity: 0.6;
            }
        }
    }

    .sustain-title {
        font-size: 2rem;
        font-weight: lighter;
    }

    .sustain-text {
        text-align: left;
        font-size: 1.1rem;
        width: 80%;
        padding-bottom: 4%;
        margin-left: 5%;
    }

    @media (min-width: 850px) {
        p {
            width: 50vw;
            margin-left: 20vw;
            font-size: 1.75rem;
            margin-top: 0;

            .ethos-image {
                position: absolute;
                opacity: 0;
            }
        }

        .sustain-text {
            width: 50%;
            margin-left: 20vw;
        }
    }

    @media (min-width: 650px) { 
        p {
            margin-top: 2%;
        }
    }
}