.gallery-section {
    padding-bottom: 5%;
    width: 100%;
    height: auto;

    h2 {
        padding-bottom: 2%;
    }

    .h3-1 {
        margin-left: 20vw;
    }

    .img-1 {
        height: 60vh;
        margin-left: 20vw;
    }

    .h3-2 {
        margin-left: 5vw;
    }

    .img-2 {
        height: 60vh;
        margin-left: 5vw;
    }
}