.gallery-section {
    width: 100%;
    height: auto;
    overflow-x: hidden;
    position: relative;
    padding-bottom: 10vh;

    h2 {
        padding-bottom: 2%;
    }

    .gallery-navigation {
        position: relative;
        right: 0;
        top: 0;


        .explore-text {
            font-size: 2rem;
            font-family: $main-font;
            margin-bottom: 1rem;
            margin-top: 0;
            text-align: right;
        }
    
        .gallery-buttons {
            background: transparent;
            z-index: 20;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            position: relative;
            z-index: 20;
            
            button {
                color: $main-color;
                background: none;
                margin: 0.5rem 0rem;
                border: none;
    
                img {
                    height: 40px;
                }
    
                &:hover {
                    cursor: pointer;
                    opacity: 0.8;
                }
            }
        }
    }

    .gallery-scroll-container {
        height: auto;
        width: 90vw;
        display: flex;
        align-items: center;
        margin: 0 auto;

        .gallery-element {
            width: 100%;
            position: relative;
            transition: 0.8s;
            overflow: hidden;

            img {
                max-width: 100%;
                z-index: -1; 
                border-radius: 5px;
            }
        
            h3 {
                font-size: 1rem;
                margin: 2% 0 -2% 4%;
                z-index: 20;
                display: block;
                width: fit-content;
                position: relative;
                padding: 0.5rem 1.5rem;
                color: $second-color;
                background: $main-color;
                box-shadow: 4px 4px 2px rgba(255, 255, 255, 0.1);
            }

            p {
                position: relative;
                bottom: 10%;
                left: 0;
                width: 80%;
                background: $main-color;
                color: $second-color;
                font-family: $main-font;
                font-size: 1.1rem;
                padding: 1rem 2rem 1.5rem 2rem;
                border-radius: 5px;
                margin: 0 auto;
            }
        }
    }

    @media (min-width: 850px) {
        .gallery-navigation {
            position: absolute;

            .explore-text {
                margin-top: 2rem;
                font-size: 3rem;
            }
        }
    
        .gallery-scroll-container {
            height: 65vh;
            .gallery-element {
                width: 90vw;
        
                img {
                    max-width: 70%;
                    margin-left: 2%;
                }

                p {
                    position: absolute;
                    width: 15vw;
                    padding: 1rem 2rem 1.5rem 2rem;
                    border-radius: 5px;
                }
            }
        }
    }
}

