.global-container {
    margin: 0 auto;
    position: relative;
    height: auto;
    width: 90vw;
}

.title-section {
    height: 90vh;
    width: 100%;
    border-bottom: 1px solid $main-color;
    display: flex;
    align-items: flex-end;

    .title-image {
        position: absolute;
        opacity: 0.8;
        z-index: 1;
        height: 50vh;
        border-left: 1px dashed $main-color;
        border-right: 1px dashed $main-color;
        padding-top: 1%;
        right: 2vw;
        top: 25vh;
    }

    .header-image {
        z-index: 0;
        width: 50vw;
        position: absolute;
        left: 0;
        top: 14vh;
        opacity: 0.4;
        border-left: 1px dashed $main-color;
    }

    .page-title {
        font-family: junicode;
        font-size: 3rem;
        color: $main-color;
        height: auto;
        position: relative;
        margin: 0;
        padding-bottom: 2%;
        margin-bottom: 5vh;
    }

    .logo-image {
        width: 2.5rem;
        height: 2.5rem;
        margin-left: 2rem;
        border-radius: 50%;
    }

    @media (min-width: 650px) {
        .page-title {
            font-size: 6rem;
            margin-top: 10rem;
        }
    }

    @media (min-width: 850px) {
        .page-title {
            font-size: 8vw;
            width: 60vw;
        }  
        
        .title-image {
            height: 90vh;
            right: 0vw;
            top: 8vh;
        }

        .header-image {
            width: 30vw;
        }

        .logo-image {
            width: 4rem;
            height: 4rem;
        }
    }
}