.global-container {
    margin: 0 auto;
    position: relative;
    height: auto;
    width: 90vw;
}

.title-section {
    height: 90vh;
    width: 100%;
    border-bottom: 1px solid $main-color;
    display: flex;
    align-items: flex-end;

    .title-image {
        position: absolute;
        opacity: 0.8;
        right: 0vw;
        z-index: 1;
        height: 90vh;
        border-left: 1px dashed $main-color;
        border-right: 1px dashed $main-color;
        padding-top: 1%;
    }

    .header-image {
        z-index: 0;
        width: 30vw;
        position: absolute;
        left: 0;
        top: 14vh;
        opacity: 0.4;
        border-left: 1px dashed $main-color;
    }

    .page-title {
        font-family: junicode;
        font-size: 4rem;
        color: $main-color;
        height: auto;
        position: relative;
        margin: 0;
        padding-bottom: 2%;
        margin-bottom: 10vh;
    }

    .logo-image {
        width: 4rem;
        height: 4rem;
        margin-left: 2rem;
        border-radius: 50%;
    }

    @media (min-width: 850px) {
        .page-title {
            font-size: 8rem;
            width: 60vw;
        }   
    }

    @media (min-height: 850px) {
        .page-title {
            font-size: 11rem;
            margin-top: 10rem;
        }   
    }
}

.section-title {
    padding-top: 3%;
    margin: 0;
}