.cart-icon {
    width: auto;

    &:after {
        content: '';
        width: 0%;
        margin: 0 auto;
        height: 5px;
        background-color: lighten($main-color, 40%);
        display: block;
        margin-top: -5px;
        transition: 0.8s;
    }

    &:hover:after {
        width: 90%;
    }

    &:hover {
        cursor: pointer;
    }
}