.product-gallery {
    width: 90vw;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.product-container {
    width: 20vw;
    margin: 1vw;
    border: 1px solid $main-color;
    display: flex;
    flex-direction: column;


    .product-title {
        font-size: 1.25rem;
        text-align: right;
        padding: 2%;
        color: $main-color;
        border-bottom: 1px solid $main-color;
    }

    .product-image {
        width: 50%;
        margin: 5%;
        margin: 0 auto;
        opacity: 0.9;
    }

    .product-buttons {
        display: flex;
        justify-content: space-around;
        padding-bottom: 5%;
        width: 100%;

        button {
            border: none;
            padding: 0.75rem;
            font-size: 0.9rem;
            background: $second-color;
            color: $main-color;
            transition: 0.5s;
            border: 1px solid $second-color;

            &:hover {
                cursor: pointer;
                border: 1px solid $main-color;
            }
        }

        .button-arrow {
            opacity: 1;
            transition: 0.6s;
        }
    }

   
    .product-details {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        padding: 5%;

        .description-title {
            font-weight: lighter;
            font-size: 4rem;
            margin:0;
        }
        
        .product-description {
            font-size: 1.25rem;
        }

        
        .product-price {
            span {
                font-weight: bolder;
            }
            font-size: 1.25rem;
            padding-bottom: 5%;
            border-bottom: 1px solid $main-color;
        }

        

    }

    
}